Lecture: AI I - Basics 

Previous:
[**Chapter 3.5: Preprocessing with Pandas**](../03_data/05_preprocessing.ipynb)

---

# Chapter 3.6: Additional Libraries and Tools

- [Dask](#dask)
- [DuckDB](#duckdb)
- [Polars](#polars)
- [Apache Arrow & PyArrow](#apache-arrow--pyarrow)
- [RAPIDS](#rapids)
- [Plotly](#plotly)
- [SciPy](#scipy)
- [Statsmodels](#statsmodels)

## Dask

[Dask](https://docs.dask.org/en/stable/) is a parallel computing library in Python that enables scalable data analysis by extending familiar tools like NumPy, pandas, and scikit-learn to larger-than-memory datasets and distributed environments. It is designed for workloads that don’t fit into a single machine’s memory or need to take advantage of multiple CPU cores or even entire clusters:

- Big Data Handling: Works with datasets that exceed memory by splitting them into smaller chunks and processing them in parallel.
- Familiar APIs: Provides drop-in replacements for popular libraries:
    - dask.array → NumPy-like parallel arrays.
    - dask.dataframe → pandas-like parallel DataFrames.
    - dask.delayed → Parallelize arbitrary Python code.
- Scalability: Runs on a laptop, multicore machine, or distributed cluster with minimal code changes.
- Task Scheduling: Uses a dynamic task scheduler to manage computations efficiently.

We can read multiple CSV files simultaneously:

In [1]:
import dask.dataframe as dd

df = dd.read_csv("data/dask/students*.csv")
df

Dask DataFrame Structure:
              studentid firstname lastname    age  course
npartitions=2
                  int64    string   string  int64  string
                    ...       ...      ...    ...     ...
                    ...       ...      ...    ...     ...
Dask Name: to_string_dtype, 2 expressions
Expr=ArrowStringConversion(frame=FromMapProjectable(f79da52))

Dask executes computations lazily, meaning operations are only planned but not run immediately, and the actual evaluation happens when you explicitly call the `.compute()` method.

In [2]:
df.compute()

   studentid firstname  lastname  age   course
0          1     Alice     Smith   20     Math
1          2       Bob   Johnson   22       CS
2          3   Charlie  Williams   21  Physics
3          4     Diana     Brown   23  Biology
4          5     Ethan     Jones   22     Math
5          6     Fiona    Garcia   20  History
6          7    George    Miller   24       CS
7          8    Hannah     Davis   21  Physics
8          9       Ian  Martinez   23  Biology
9         10     Julia    Taylor   22  History
0         11     Kevin  Anderson   24       CS
1         12     Laura    Thomas   21     Math
2         13   Michael   Jackson   22  Biology
3         14      Nina     White   20  History
4         15     Oscar    Harris   23  Physics
5         16     Paula    Martin   22     Math
6         17   Quentin  Thompson   24       CS
7         18    Rachel     Moore   21  Biology
8         19     Steve     Clark   23  History
9         20      Tina       Lee   20  Physics

Here, dask.dataframe works almost like pandas but processes the data in chunks across cores, and `.compute()` triggers the actual execution:

In [5]:
df.groupby("course")["age"].mean().compute()

course
Biology    22.25
CS         23.50
History    21.25
Math       21.25
Physics    21.25
Name: age, dtype: float64

## DuckDB

[DuckDB](https://duckdb.org/docs/stable/clients/python/overview.html) is an in-process SQL OLAP database designed for analytical workloads. Unlike traditional client-server database systems, DuckDB runs entirely inside your Python (or R, C++, etc.) process, making it lightweight and extremely easy to integrate into data workflows. Its focus is on fast analytical queries on large datasets, not transaction-heavy use cases. It works with pandas, Polars, and PyArrow allowing for zero-copy query execution on DataFrames.

In [8]:
import duckdb

student_df = df.compute()

duckdb.sql("SELECT course, AVG(age) FROM student_df GROUP BY course").to_df()

/tmp/ipykernel_10743/1255256436.py:5: FutureWarning: ArrowStringArray._data is a deprecated and will be removed in a future version, use ._pa_array instead
  duckdb.sql("SELECT course, AVG(age) FROM student_df GROUP BY course").to_df()
/tmp/ipykernel_10743/1255256436.py:5: FutureWarning: ArrowStringArray._data is a deprecated and will be removed in a future version, use ._pa_array instead
  duckdb.sql("SELECT course, AVG(age) FROM student_df GROUP BY course").to_df()

    course  avg(age)
0     Math     21.25
1  Biology     22.25
2  Physics     21.25
3       CS     23.50
4  History     21.25

# Polars

[Polars](https://docs.pola.rs/) is a high-performance DataFrame library built in Rust with Python bindings, designed for speed, memory efficiency, and parallelism. It uses Apache Arrow as its memory model and offers both an eager API (pandas-like, immediate execution) and a lazy API (query planning + optimization before execution). Polars excels on multi-core machines, large datasets, and complex transformations where predicate pushdown, projection pruning, and parallel execution matter.

# Apache Arrow & PyArrow

[PyArrow](https://arrow.apache.org/docs/python/index.html) is the Python interface to Apache Arrow, a cross-language, columnar in-memory data format designed for high-performance data analytics. It enables fast and efficient data interchange between systems without serialization overhead and forms the backbone of many modern Python data tools.

# RAPIDS

[RAPIDS](https://docs.rapids.ai/user-guide/) is an open-source suite of libraries developed by NVIDIA that brings the power of GPU acceleration to the Python data science ecosystem. It enables data scientists and machine learning practitioners to perform end-to-end data workflows—from data preparation to machine learning—entirely on GPUs, resulting in significant speedups compared to CPU-based tools.
- cuDF: A pandas-like DataFrame library accelerated by GPUs for fast data manipulation.
- cuML: A machine learning library with scikit-learn-like APIs but GPU-backed for faster training and inference.
- ...

# plotly

https://plotly.com/

# SciPy

https://scipy.org/

# statsmodels

https://www.statsmodels.org/stable/index.html

---

Lecture: AI I - Basics 

Next: [**Chapter 4.1: Data Preparation**](../04_ml/01_data_preparation.ipynb)